  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; 小裕儿&trade;</span>
                </div>
                <div class="col-md-4">
                    <h4>生日快乐 :) 祝你天天有个好心情~</h4>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#"></a>
                        </li>
                        <li><a href="#">全世界第一优秀</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
